<h1>Data Collection</h1>

<h3>Dataset Head</h3>

In [ ]:
import pandas as pd

dataset_csv= pd.read_csv("Ethereum_Fraud_Detection.csv")

dataframe= pd.DataFrame(dataset_csv)
dataframe.head()

Index(['Unnamed: 0', 'Index', 'Address', 'FLAG', 'Avg min between sent tnx',
       'Avg min between received tnx',
       'Time Diff between first and last (Mins)', 'Sent tnx', 'Received Tnx',
       'Number of Created Contracts', 'Unique Received From Addresses',
       'Unique Sent To Addresses', 'min value received', 'max value received ',
       'avg val received', 'min val sent', 'max val sent', 'avg val sent',
       'min value sent to contract', 'max val sent to contract',
       'avg value sent to contract',
       'total transactions (including tnx to create contract',
       'total Ether sent', 'total ether received',
       'total ether sent contracts', 'total ether balance',
       ' Total ERC20 tnxs', ' ERC20 total Ether received',
       ' ERC20 total ether sent', ' ERC20 total Ether sent contract',
       ' ERC20 uniq sent addr', ' ERC20 uniq rec addr',
       ' ERC20 uniq sent addr.1', ' ERC20 uniq rec contract addr',
       ' ERC20 avg time between sent tnx', ' ERC20 avg time between rec tnx',
       ' ERC20 avg time between rec 2 tnx',
       ' ERC20 avg time between contract tnx', ' ERC20 min val rec',
       ' ERC20 max val rec', ' ERC20 avg val rec', ' ERC20 min val sent',
       ' ERC20 max val sent', ' ERC20 avg val sent',
       ' ERC20 min val sent contract', ' ERC20 max val sent contract',
       ' ERC20 avg val sent contract', ' ERC20 uniq sent token name',
       ' ERC20 uniq rec token name', ' ERC20 most sent token type',
       ' ERC20_most_rec_token_type'],
      dtype='object')

<h3>Rows and Columns</h3>

In [ ]:
rows, columns = dataframe.shape
print("Rows:", rows)
print("Columns:", columns)

Index(['Unnamed: 0', 'Index', 'Address', 'FLAG', 'Avg min between sent tnx',
       'Avg min between received tnx',
       'Time Diff between first and last (Mins)', 'Sent tnx', 'Received Tnx',
       'Number of Created Contracts', 'Unique Received From Addresses',
       'Unique Sent To Addresses', 'min value received', 'max value received ',
       'avg val received', 'min val sent', 'max val sent', 'avg val sent',
       'min value sent to contract', 'max val sent to contract',
       'avg value sent to contract',
       'total transactions (including tnx to create contract',
       'total Ether sent', 'total ether received',
       'total ether sent contracts', 'total ether balance',
       ' Total ERC20 tnxs', ' ERC20 total Ether received',
       ' ERC20 total ether sent', ' ERC20 total Ether sent contract',
       ' ERC20 uniq sent addr', ' ERC20 uniq rec addr',
       ' ERC20 uniq sent addr.1', ' ERC20 uniq rec contract addr',
       ' ERC20 avg time between sent tnx', ' ERC20 avg time between rec tnx',
       ' ERC20 avg time between rec 2 tnx',
       ' ERC20 avg time between contract tnx', ' ERC20 min val rec',
       ' ERC20 max val rec', ' ERC20 avg val rec', ' ERC20 min val sent',
       ' ERC20 max val sent', ' ERC20 avg val sent',
       ' ERC20 min val sent contract', ' ERC20 max val sent contract',
       ' ERC20 avg val sent contract', ' ERC20 uniq sent token name',
       ' ERC20 uniq rec token name', ' ERC20 most sent token type',
       ' ERC20_most_rec_token_type'],
      dtype='object')

<h3>  Data type of different Columns</h3>

In [85]:


# converting same data types columns to list 
int64_type_list = dataframe.select_dtypes(include=['int64']).columns.tolist()
float64_type_list = dataframe.select_dtypes(include=['float64']).columns.tolist()
object_type_list = dataframe.select_dtypes(include=['object']).columns.tolist()

print((int64_type_list))
print((float64_type_list))
print((object_type_list))

['Unnamed: 0', 'Index', 'FLAG', 'Sent tnx', 'Received Tnx', 'Number of Created Contracts', 'Unique Received From Addresses', 'Unique Sent To Addresses', 'total transactions (including tnx to create contract']
['Avg min between sent tnx', 'Avg min between received tnx', 'Time Diff between first and last (Mins)', 'min value received', 'max value received ', 'avg val received', 'min val sent', 'max val sent', 'avg val sent', 'min value sent to contract', 'max val sent to contract', 'avg value sent to contract', 'total Ether sent', 'total ether received', 'total ether sent contracts', 'total ether balance', ' Total ERC20 tnxs', ' ERC20 total Ether received', ' ERC20 total ether sent', ' ERC20 total Ether sent contract', ' ERC20 uniq sent addr', ' ERC20 uniq rec addr', ' ERC20 uniq sent addr.1', ' ERC20 uniq rec contract addr', ' ERC20 avg time between sent tnx', ' ERC20 avg time between rec tnx', ' ERC20 avg time between rec 2 tnx', ' ERC20 avg time between contract tnx', ' ERC20 min val rec', ' ERC20 max val rec', ' ERC20 avg val rec', ' ERC20 min val sent', ' ERC20 max val sent', ' ERC20 avg val sent', ' ERC20 min val sent contract', ' ERC20 max val sent contract', ' ERC20 avg val sent contract', ' ERC20 uniq sent token name', ' ERC20 uniq rec token name']
['Address', ' ERC20 most sent token type', ' ERC20_most_rec_token_type']

<h3>Checking Null Values for Int and Float data type columns</h3>

In [125]:
 
nan_int_float_indices= {}

int_float_columns = dataframe.select_dtypes(include=['int64','float64'])

for column in int_float_columns.columns:
    mask= int_float_columns[column].isna()  # filter the rows with NaN 
    indices = int_float_columns[column][mask].index.tolist()  # find row index and converting to list
    nan_int_float_indices[column] = indices # storing in dictionary
    

for column, list in nan_int_float_indices.items():
     print(f"{column}: {len(list)} NaN values")  # count each list NaN

Unnamed: 0: 0 NaN values
Index: 0 NaN values
FLAG: 0 NaN values
Avg min between sent tnx: 0 NaN values
Avg min between received tnx: 0 NaN values
Time Diff between first and last (Mins): 0 NaN values
Sent tnx: 0 NaN values
Received Tnx: 0 NaN values
Number of Created Contracts: 0 NaN values
Unique Received From Addresses: 0 NaN values
Unique Sent To Addresses: 0 NaN values
min value received: 0 NaN values
max value received : 0 NaN values
avg val received: 0 NaN values
min val sent: 0 NaN values
max val sent: 0 NaN values
avg val sent: 0 NaN values
min value sent to contract: 0 NaN values
max val sent to contract: 0 NaN values
avg value sent to contract: 0 NaN values
total transactions (including tnx to create contract: 0 NaN values
total Ether sent: 0 NaN values
total ether received: 0 NaN values
total ether sent contracts: 0 NaN values
total ether balance: 0 NaN values
 Total ERC20 tnxs: 829 NaN values
 ERC20 total Ether received: 829 NaN values
 ERC20 total ether sent: 829 NaN values
 ERC20 total Ether sent contract: 829 NaN values
 ERC20 uniq sent addr: 829 NaN values
 ERC20 uniq rec addr: 829 NaN values
 ERC20 uniq sent addr.1: 829 NaN values
 ERC20 uniq rec contract addr: 829 NaN values
 ERC20 avg time between sent tnx: 829 NaN values
 ERC20 avg time between rec tnx: 829 NaN values
 ERC20 avg time between rec 2 tnx: 829 NaN values
 ERC20 avg time between contract tnx: 829 NaN values
 ERC20 min val rec: 829 NaN values
 ERC20 max val rec: 829 NaN values
 ERC20 avg val rec: 829 NaN values
 ERC20 min val sent: 829 NaN values
 ERC20 max val sent: 829 NaN values
 ERC20 avg val sent: 829 NaN values
 ERC20 min val sent contract: 829 NaN values
 ERC20 max val sent contract: 829 NaN values
 ERC20 avg val sent contract: 829 NaN values
 ERC20 uniq sent token name: 829 NaN values
 ERC20 uniq rec token name: 829 NaN values

<h3>Checking Null Values in Object data type columns</h3>

In [129]:
nan_object_indices={}

object_columns = dataframe.select_dtypes(include='object')


for column in object_columns.columns:
    mask = object_columns[column].str.strip()==''
    indices = object_columns[column][mask].index.to_list()
    nan_object_indices[column]=indices


for column, list in nan_object_indices.items():
    print(f"{column} : {len(list)} empty or missing values")

Address : 0 empty or missing values
 ERC20 most sent token type : 1191 empty or missing values
 ERC20_most_rec_token_type : 21 empty or missing values

<h3>Checking Null Values of Flag, which will decide the transaction is fradulant or not</h3>

In [ ]:

flag_column = dataframe['FLAG']
mask = flag_column.isna()
mask.sum() # count True as 1 so it will be added

np.int64(0)

<h3>Checking Duplicate Record</h3>

In [ ]:
 
duplicate = dataframe.duplicated()
duplicate.sum()

# no duplicate record found

np.int64(0)

<h3>Checking Duplicate Addresses</h3>

In [154]:

addresses = dataframe['Address']
mask = addresses.duplicated()
print("total duplicates : ", mask.sum()) # total duplicates are 25 address


# Now checking which addresses are duplucated 

address_counts= dataframe['Address'].value_counts() # extract total count of each address 
duplicate = address_counts[address_counts>1] # filters only the count greater then 1 

print("duplicat address and counts :",duplicate)

total duplicates :  25
duplicat address and counts : Address
0x4cb6f8f060365dd2e4eb949609dd6293bb950ae2    2
0x4cb981a7a2956cdfa8afbf454cb4e1b13c69aeb9    2
0x4cbfd5b6b8d69c12fab524a01f5283fcc75d5bc9    2
0x4cc930a91865e30feff38465ace57711e3923881    2
0x4cce03d1fd8aa1d6172cec74d75bd1df9e6a8ac2    2
0x4cd3bb2110eda1805dc63abc1959a5ee2d386e9f    2
0x4cd526aa2db72eb1fd557b37c6b0394acd35b212    2
0x4cdf46740d51a0f6735fe3f1d28fadf00c20cd34    2
0x4c13f6966dc24c92489344f0fd6f0e61f3489b84    2
0x4c1da8781f6ca312bc11217b3f61e5dfdf428de1    2
0x4c24af967901ec87a6644eb1ef42b680f58e67f5    2
0x4c268c7b1d51b369153d6f1f28c61b15f0e17746    2
0x4c26a3c12a64f33a3546fbb206c5365ce8e82c20    2
0x4c271764eadcf0d07e5a937b2de290294c9d11c2    2
0x4c27438a77738153f6cf3ed890b2817d52ebf584    2
0x4c391cc032c9107b596267610a05262c90fc2df7    2
0x4c4a03e100b4b104355edc4c50ce12b9a2879547    2
0x4c4da560350e302232a184c8fa16b126a772c326    2
0x4c5b0709f66719861e7277c9dcda9175deb3d866    2
0x4c7520df888aa4569a37ac7d132f89c65821f0af    2
0x4c77f6b01da78d053d5885e43bce5239b623dd3e    2
0x4c7accc2689708892be29256fbe9d45a92f0aa97    2
0x4c7f6d5b287054bf41f9d49ea8d2ca6e6837850b    2
0x4c97ccdaa61ca167e8a3b4d425ae6fbf16bcb39c    2
0x4cad652b71519a7a68d05dada31122c4c9a5ed95    2
Name: count, dtype: int64